<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>喵呜网后台管理</title>
    <link rel="stylesheet" href="css/adminindex.css">
</head>
<body>
<div class="content">
    <div class="nav">
        <div class="logo"><font>Miaowu</font></div>
        <ul class="headlist">
            <li class="active"><a href="http://zhuyinghui.shop:8080">商城</a></li>
            <li><a href="#">喵呜百科</a></li>
            <li><a href="#">关于我们</a></li>
        </ul>
    </div>
    <div class="container">
        <span style="font-family: Impact;font-size: 48px;font-weight: bold;color: white">Welcome to Miaowu choosing your cats.</span>
        <span style="font-family: Segoe Script;font-size: 98px;font-weight: bold;color: white;text-shadow: #000 5px 5px 5px">Miaowu</span>
        <div class="twobtn">
            <a href="http://zhuyinghui.shop:8080">To shopping mall</a><a href="/adminLogin">To backgroud supporter</a>
        </div>
    </div>
</div>
</body>
<script>
</script>
</html>
