<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/css/adminLogin.css">
</head>
<body>
<div class="container">
  <div class="nav">
    <div class="logo"><font>Miaowu</font></div>
  </div>
  <div class="content">
    <div class="title">
      <h1>后台管理登录</h1><h2><a href="/">取消</a></h2>
    </div>
    <form action="/adminLogin/do_adminLogin" method="post">
      <div><h2>账号：</h2><input type="text" name="admin"></div>
      <div><h2>密码：</h2><input type="password" name="password"></div>
      <!-- <a href="/adminRegister">没有账号？点击注册</a> -->
      <button>登录</button>
    </form>

  </div>
</div>
</body>
</html>
