<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作者简介</title>
    <style>
        .resume{
            width: 90%;
            margin: 5%;
        }
        .resume img{
            width:100%;
        }
    </style>
</head>
<body>
    <a href="http://zhuyinghui.shop:8080">快去看看作者的商城吧！</a>
    <div class="resume"> 
        <img src="/images/resume.jpg"/>
    </div>

</body>
</html>