<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/goodsManage.css">
</head>
<body>
<ul class="menu">
  <li>商品管理</li>
  <li><a href="/goodsList">商品列表</a></li>
  <li><a href="/goodsAdd">添加商品</a></li>
  <li>分类管理</li>
  <li><a href="/goodsClass">分类列表</a></li>
  <li><a href="/classAdd">添加分类</a></li>
  <li>猫百科管理</li>
  <li><a href="/encyclopedia">百科列表</a></li>
  <li><a href="/encyclopedia/add">添加百科</a></li>
</ul>
</body>
</html>
